.recommended-products {
  margin: 40px 0;
}
*{
  text-decoration: none;
}
.recommended-products h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #111;
}

.recommended-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 0 15px;
}

.recommended-product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: 350px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recommended-product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.recommended-product-image {
  width: 100%;
  height: 200px; 
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.recommended-product-name {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-bottom: 8px;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
}

.recommended-product-price {
  font-size: 18px;
  font-weight: 700;
  color: #b12704;
  margin-top: 10px;
}

.load-more-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 20px auto;
  background-color: #1c5db5;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.load-more-btn:hover {
  background-color: #093b80;
}
